<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Threads:</h1>
    <% for(var i=0; i < threads.length; i++) { %>
       <div>
          <a href="/viewthread?threadid=<%= parseInt(threads[i].id) %>"><%= threads[i].subject %></a>
       </div>
    <% } %>
    <form action="/createthread" method="post"">
      <div>Subject: <input type=text name=subject></div>
      <div>Body: <textarea name=body></textarea> <input type="submit" value="Submit"></div>
    </form>
  </body>
</html>
